* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #090909;
}
.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.result_img {
    display: flex;
    column-gap: 7rem;
}
.result_img img {
    width: 100px;
}
.user_result img {
    transform: rotate(0deg);
}
.cpu_result img {
    transform: rotate(0deg) rotateY(180deg);
}
.result {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 1.5rem;
}
.option_images {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.container.start .option_images{
    pointer-events: none;
}
.option_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.option_image:hover {
    opacity: 1;
}
.option_image.active {
    opacity: 1;
}
.option_image img {
   pointer-events: none; 
}
.option_image p {
    color: black;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}